body {
    background-color: #111827;
}
.content {
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0 0.05);
}

.signin-text {
    font-style: normal;
    font-weight: 600 !important;
}
.signin-form {
    margin-top: 20px;
}
.signin-form .button-container {
    display: flex;
    align-content: space-between;
}
.signin-form .signup {
    font-size: 14px;
    text-decoration: none;
    color: #111827;
    margin-left: 30px;
    margin-top: 50px;
    transition: all ease-in 0.1s;
}
.signin-form .signup:hover {
    color: #ff9900;
    transition: all ease-in 0.1s;
}
.form-group,
.btn {
    margin-top: 35px;
}
img {
    width: 350px;
    margin-left: 30px;
}
.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.btn-class {
    background-color: #111827;
    color: #fff;
}
.btn-class:hover {
    background-color: #ff9900;
    color: #111827;
}
